*.la
*.lo
*.o
*.i
*.ii
*.s
*~
.deps
.libs
Makefile
Makefile.in
cscope.out
/aclocal.m4
/packages/apt/debian/
/packages/apt/ubuntu/
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/src/scratch
/libgroonga_storage_engine.a
/packages/rpm/*/*.spec
/packages/yum/fedora/
/packages/yum/centos/
/doc/locale/*/doctrees/
/doc/locale/*/html/
/doc/locale/*/man/
/doc/locale/*/*-build-stamp
/doc/locale/*/LC_MESSAGES/*.pot
/doc/locale/*/LC_MESSAGES/*.mo
/doc/locale/*/LC_MESSAGES/doctrees/
/doc/locale/*/LC_MESSAGES/*-build-stamp
/doc/sphinx/
/doc/ja/build/
/doc/ja/doctrees/
/doc/ja/html/
/misc/
/tmp-doc/
/test/sql/suite/groonga_storage/r/information_schema.result
/test/sql/suite/groonga_storage/r/variables.result
/mrn_version.h
