*.i
*.ii
*.la
*.lo
*.o
*.s
*.so
*~
.deps
.libs
/.dirstamp
/.vagrant/
/CMakeCache.txt
/CMakeFiles/
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.sh
/config.status
/config.sub
/configure
/configure.lineno
/data/install.sql
/depcomp
/doc/locale/*/*-build-stamp
/doc/locale/*/LC_MESSAGES/*-build-stamp
/doc/locale/*/LC_MESSAGES/*.edit
/doc/locale/*/LC_MESSAGES/*.mo
/doc/locale/*/LC_MESSAGES/*.pot
/doc/locale/*/LC_MESSAGES/doctrees/
/doc/locale/*/doctrees/
/doc/locale/*/html/
/doc/locale/*/man/
/doc/locale/en/LC_MESSAGES/*.po
/install-sh
/install_manifest.txt
/libmroonga.a
/libtool
/ltmain.sh
/m4
/misc/
/missing
/mrn_version.h
/mroonga-*.tar.gz
/mysql-test/mroonga/storage/information_schema/r/plugins.result
/mysql-test/mroonga/storage/variable/r/version.result
/packages/*/*.tar.gz
/packages/*/apt/build.sh
/packages/*/apt/env.sh
/packages/*/apt/repositories/
/packages/*/apt/tmp/
/packages/*/debian.*
/packages/*/ubuntu/
/packages/*/yum/build.sh
/packages/*/yum/env.sh
/packages/*/yum/repositories/
/packages/*/yum/tmp/
/packages/apt/*.log
/packages/apt/*/*.log
/packages/apt/.vagrant/
/packages/apt/env.sh
/packages/apt/repositories/
/packages/apt/tmp/
/packages/debian-5.5/control
/packages/debian-5.6/control
/packages/debian-5.7/control
/packages/debian-mariadb-10.0/control
/packages/debian-mariadb-10.1/control
/packages/jessie-mariadb-10.0/control
/packages/mroonga-*.tar.gz
/packages/rpm/*/*.spec
/packages/source/files/
/packages/source/tmp/
/packages/tmp/*
/packages/ubuntu/mroonga-*.orig.tar.gz
/packages/ubuntu/tmp/
/packages/windows/files/*
/packages/yum/*.log
/packages/yum/*/*.log
/packages/yum/.vagrant/
/packages/yum/env.sh
/packages/yum/repositories/
/packages/yum/tmp/*
/src/scratch
/stamp-h1
/test-driver
/tmp-doc/
/vendor/
CTestTestfile.cmake
Makefile
Makefile.in
cmake_install.cmake
cscope.out
