*.la
*.lo
*.o
*.so
*.i
*.ii
*.s
*~
.deps
.libs
Makefile
Makefile.in
cscope.out
cmake_install.cmake
CTestTestfile.cmake
/.dirstamp
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/compile
/test-driver
/src/scratch
/libmroonga.a
/packages/debian/control
/packages/rpm/*/*.spec
/packages/apt/env.sh
/packages/apt/.vagrant/
/packages/apt/repositories/
/packages/yum/env.sh
/packages/yum/.vagrant/
/packages/yum/repositories/
/packages/source/files/
/packages/source/tmp/
/doc/locale/*/doctrees/
/doc/locale/*/html/
/doc/locale/*/man/
/doc/locale/*/*-build-stamp
/doc/locale/*/LC_MESSAGES/*.pot
/doc/locale/*/LC_MESSAGES/*.edit
/doc/locale/*/LC_MESSAGES/*.mo
/doc/locale/*/LC_MESSAGES/doctrees/
/doc/locale/*/LC_MESSAGES/*-build-stamp
/doc/locale/en/LC_MESSAGES/*.po
/doc/sphinx/
/misc/
/tmp-doc/
/mysql-test/mroonga/storage/information_schema/r/plugins.result
/mysql-test/mroonga/storage/variable/r/version.result
/mrn_version.h
/mroonga-*.tar.gz
/packages/mroonga-*.tar.gz
/configure.lineno
/config.sh
/CMakeCache.txt
/CMakeFiles/
/INSTALL
/packages/tmp/*
/packages/apt/*.log
/packages/apt/*/*.log
/packages/apt/tmp/*
/packages/yum/*.log
/packages/yum/*/*.log
/packages/yum/tmp/*
/packages/windows/files/*
/packages/ubuntu/tmp/
/install_manifest.txt
/vendor/
/data/install.sql
