notifications:
  - provider: Webhook
    url: https://webhook.commit-email.info/

skip_commits:
  files:
    - "**/Makefile.am"
    - ".github/"
    - ".travis.yml"
    - "configure.ac"
    - "doc/"
    - "tools/"

version: "{build}"
clone_depth: 10
image: Visual Studio 2019
environment:
  matrix:
    - CMAKE_ARCHITECTURE: "Win32"
      MARIADB_VERSION: 10.2.33
      MROONGA_PLATFORM: "win32"
    - CMAKE_ARCHITECTURE: "x64"
      MARIADB_VERSION: 10.2.33
      MROONGA_PLATFORM: "winx64"
    - CMAKE_ARCHITECTURE: "Win32"
      MARIADB_VERSION: 10.3.24
      MROONGA_PLATFORM: "win32"
    - CMAKE_ARCHITECTURE: "x64"
      MARIADB_VERSION: 10.3.24
      MROONGA_PLATFORM: "winx64"
    - CMAKE_ARCHITECTURE: "Win32"
      MARIADB_VERSION: 10.4.14
      MROONGA_PLATFORM: "win32"
    - CMAKE_ARCHITECTURE: "x64"
      MARIADB_VERSION: 10.4.14
      MROONGA_PLATFORM: "winx64"
    - CMAKE_ARCHITECTURE: "Win32"
      MARIADB_VERSION: 10.5.5
      MROONGA_PLATFORM: "win32"
    - CMAKE_ARCHITECTURE: "x64"
      MARIADB_VERSION: 10.5.5
      MROONGA_PLATFORM: "winx64"
    - CMAKE_ARCHITECTURE: "x64"
      MARIADB_VERSION: 10.5.5
      MROONGA_PLATFORM: "winx64"
      USE_MASTER: "yes"

install:
  - set PATH=C:\Ruby26-x64\bin;%PATH%
  - set PATH=C:\msys64\usr\bin;%PATH%
  - curl --remote-name https://repo.msys2.org/msys/x86_64/msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz
  - pacman --noconfirm --upgrade msys2-keyring-r21.b39fb11-1-any.pkg.tar.xz
  - pacman --sync --refresh --sysupgrade --sysupgrade --noconfirm
  - taskkill /F /FI "MODULES eq msys-2.0.dll"
  - pacman --sync --noconfirm p7zip
  - if "%USE_MASTER%" == "yes" (
      call
        "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat"
        amd64
    )
  - cd ..
  - curl --location -O https://downloads.mariadb.org/f/mariadb-%MARIADB_VERSION%/source/mariadb-%MARIADB_VERSION%.tar.gz
  - tar xzf mariadb-%MARIADB_VERSION%.tar.gz
  - cd mariadb-%MARIADB_VERSION%
  - if "%MARIADB_VERSION:~,5%" == "10.5." (
      patch -p1 < ..\mroonga\packages\source\patches\mariadb-10.5.5-add-a-missing-export-symbol.diff
    )
  - rmdir /S /Q storage\mroonga\
  - ps: $Env:MROONGA_VERSION = "$(Get-Content ..\mroonga\version)"
  - move ..\mroonga storage\mroonga
  - if "%USE_MASTER%" == "yes" (
      git clone --quiet --depth 1 --recursive https://github.com/groonga/groonga.git ..\groonga &&
      cd ..\groonga\vendor &&
      ruby download_lz4.rb &&
      ruby download_mecab.rb &&
      ruby download_message_pack.rb &&
      ruby download_rapidjson.rb &&
      cd ..\..\mariadb-%MARIADB_VERSION%
    ) else (
      curl -O https://packages.groonga.org/source/groonga/groonga-latest.zip &&
      7z x groonga-latest.zip &&
      del groonga-latest.zip &&
      move groonga-* ..\groonga
    )
  - rmdir /S /Q ..\groonga\test\
  - mkdir storage\mroonga\vendor
  - move ..\groonga storage\mroonga\vendor\groonga
  - if "%USE_MASTER%" == "yes" (
      git clone --quiet --depth 1
        https://github.com/groonga/groonga-normalizer-mysql.git
        storage\mroonga\vendor\groonga\vendor\plugins\groonga-normalizer-mysql
    ) else (
      curl -O https://packages.groonga.org/source/groonga-normalizer-mysql/groonga-normalizer-mysql-latest.zip &&
      7z x groonga-normalizer-mysql-latest.zip &&
      del groonga-normalizer-mysql-latest.zip &&
      move
        groonga-normalizer-mysql*
        storage\mroonga\vendor\groonga\vendor\plugins\groonga-normalizer-mysql
    )

build_script:
  - cd %APPVEYOR_BUILD_FOLDER%\..
  - move mariadb-%MARIADB_VERSION% source
  - mkdir build
  - cd build
  - cmake ..\source
      -A "%CMAKE_ARCHITECTURE%"
      -G "Visual Studio 16 2019"
      -DMRN_GROONGA_EMBED=OFF
      -DMRN_GROONGA_NORMALIZER_MYSQL_EMBED=OFF
      -DGRN_WITH_MRUBY=ON
  - set CMAKE_BUILD_PARALLEL_LEVEL=%NUMBER_OF_PROCESSORS%
  - cmake --build . --config RelWithDebInfo
  - cmake --build . --config RelWithDebInfo --target package
  - move *.zip ..\
  - cd ..\
  - 7z x mariadb-%MARIADB_VERSION%-%MROONGA_PLATFORM%.zip
  - netsh advfirewall firewall add rule
      name="mariadb"
      dir=in
      action=allow
      protocol=TCP
      localport=3306
      enable=yes
      profile=any
  - ps: .\source\storage\mroonga\packages\windows\install-mroonga.ps1
      -mariadbVersion $env:MARIADB_VERSION
      -platform $env:MROONGA_PLATFORM

test: off

on_finish:
  - cd %APPVEYOR_BUILD_FOLDER%\..
  - 7z a mariadb-%MARIADB_VERSION%-with-mroonga-%MROONGA_VERSION%-%MROONGA_PLATFORM%.zip
         mariadb-%MARIADB_VERSION%-%MROONGA_PLATFORM%
  - set ARTIFACT=mariadb-%MARIADB_VERSION%-with-mroonga-%MROONGA_VERSION%-%MROONGA_PLATFORM%.zip
  - ps: Push-AppveyorArtifact $Env:ARTIFACT
