Source: groonga-storage-engine
Section: database
Priority: optional
Maintainer: Kouhei Sutou <kou@clear-code.com>
Build-Depends:
	debhelper (>= 7.0.50),
	autotools-dev,
	libgroonga-dev (>= 1.2.6),
	libmysqlclient-dev,
	libssl-dev
Standards-Version: 3.9.1
Homepage: http://mroonga.github.com/

Package: mysql-server-groonga
Section: database
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends},
	libgroonga0 (>= 1.2.6),
	mysql-server
Description: MySQL storage enigne built on groonga.
 The groonga storage engine is a MySQL storage engine built on groonga,
 a fulltext search engine and column store.
 .
 This package provides a MySQL storage engine as a shared library.

Package: mysql-server-groonga-doc
Section: doc
Architecture: all
Depends:
	${misc:Depends}
Description: Documentation of the groonga storage engine.
 The groonga storage engine is a MySQL storage engine built on groonga,
 a fulltext search engine and column store.
 .
 This package provides documentation of the groonga storage engine.
