#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-mysql-source=../mysql

# disable 'make check'.
override_dh_auto_test:

# override_dh_install:
# 	dh_install
# 	if test -x /usr/bin/dh_apparmor; then			\
# 	  dh_apparmor						\
# 	    -pmysql-server-groonga				\
# 	    --profile-name=usr.lib.mysql.plugin.ha_groonga;	\
# 	fi
