name: Install to Ubuntu
on:
  schedule:
    - cron: |
        0 0 * * *
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  install:
    name: Install to Ubuntu
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-focal
            package: mariadb
          - os: ubuntu-focal
            package: mysql
          - os: ubuntu-jammy
            package: mariadb
          - os: ubuntu-jammy
            package: mysql
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Run VM
        run: |
          vagrant up ${{ matrix.os }}
      - name: Install Mroonga
        run: |
          vagrant \
            ssh ${{ matrix.os }} \
            -- \
            /vagrant/packages/apt/install_test.sh \
            ${{ matrix.package }}-mroonga
