name: Windows
on:
  - push
  - pull_request
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  package:
    name: Package
    strategy:
      fail-fast: false
      matrix:
        label:
          - MariaDB 10.3
          - MariaDB 10.4
          - MariaDB 10.5
          - MariaDB 10.6
          - MariaDB 10.7
          - MariaDB 10.8
          - MariaDB 10.9
          - MariaDB 10.10
          - MariaDB 10.10 (master)
          - MariaDB 10.10 (master/embed)
        include:
          - label: MariaDB 10.3
            mariadb-version: "10.3.37"
          - label: MariaDB 10.4
            mariadb-version: "10.4.27"
          - label: MariaDB 10.5
            mariadb-version: "10.5.18"
          - label: MariaDB 10.6
            mariadb-version: "10.6.11"
          - label: MariaDB 10.7
            mariadb-version: "10.7.7"
          - label: MariaDB 10.8
            mariadb-version: "10.8.6"
          - label: MariaDB 10.9
            mariadb-version: "10.9.4"
          - label: MariaDB 10.10
            mariadb-version: "10.10.2"
          - label: MariaDB 10.10 (master)
            mariadb-version: "10.10.2"
            use-master: "yes"
          - label: MariaDB 10.10 (master/embed)
            mariadb-version: "10.10.2"
            use-master: "yes"
            embed: "ON"
    env:
      PACKAGE_PLATFORM: "winx64"
      VC_ARCHITECTURE: "x64"
    runs-on: windows-2019
    steps:
      - name: Disable crash dialog
        run: |
          reg add "HKCU\SOFTWARE\Microsoft\Windows\Windows Error Reporting" `
            /v DontShowUI `
            /t REG_DWORD `
            /d 1 `
            /f
      - name: Use JST
        run: |
          Set-TimeZone -Id "Tokyo Standard Time"
      - uses: actions/setup-ruby@v1
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/cache@v3
        with:
          path: |
            ~\AppData\Roaming\ccache
          key: source-${{ matrix.mariadb-version }}-${{ env.VC_ARCHITECTURE }}-ccache-${{ hashFiles('*.cpp', '*.hpp', '*.h', 'lib/*.cpp', 'lib/*.hpp') }}
          restore-keys: source-${{ matrix.mariadb-version }}-${{ env.VC_ARCHITECTURE }}-ccache-
      - name: Prepare ccache
        run: |
          choco install ccache
          ccache --show-stats --verbose
          Write-Output "CMAKE_C_COMPILER_LAUNCHER=ccache" | `
            Out-File -FilePath ${Env:GITHUB_ENV} -Encoding utf8 -Append
          Write-Output "CMAKE_CXX_COMPILER_LAUNCHER=ccache" | `
            Out-File -FilePath ${Env:GITHUB_ENV} -Encoding utf8 -Append
      - name: Set information
        id: info
        run: |
          $MROONGA_VERSION = "$(Get-Content version_full)"
          $ARTIFACT_NAME = "mariadb-${{ matrix.mariadb-version }}-with-mroonga-${MROONGA_VERSION}"
          if ("${{ matrix.use-master }}" -eq "yes") {
            $ARTIFACT_NAME += "-with-groonga-master"
          }
          if ("${{ matrix.embed }}" -eq "ON") {
            $ARTIFACT_NAME += "-embed"
          }
          $ARTIFACT_NAME += "-${Env:PACKAGE_PLATFORM}"
          Write-Output "mroonga-version=${MROONGA_VERSION}" | `
            Out-File -FilePath ${Env:GITHUB_OUTPUT} -Encoding utf8 -Append
          Write-Output "artifact-name=${ARTIFACT_NAME}" | `
            Out-File -FilePath ${Env:GITHUB_OUTPUT} -Encoding utf8 -Append
      - name: Cache MariaDB archive
        uses: actions/cache@v3
        with:
          path: download/
          key: download-mariadb-${{ matrix.mariadb-version }}
      - name: Prepare MariaDB
        run: |
          $MARIADB_TAR_GZ = "download\mariadb-${{ matrix.mariadb-version }}.tar.gz"
          if (-not(Test-Path -Path ${MARIADB_TAR_GZ})) {
            New-Item download -ItemType Directory -Force
            Invoke-WebRequest `
              -Uri "http://downloads.mariadb.org/rest-api/mariadb/${{ matrix.mariadb-version }}/mariadb-${{ matrix.mariadb-version }}.tar.gz" `
              -OutFile ${MARIADB_TAR_GZ} `
              -Verbose
          }
          ridk exec tar xzf "${MARIADB_TAR_GZ}"
          Move-Item mariadb-${{ matrix.mariadb-version }} ..\source
          cd ..\source
          if ("${{ matrix.mariadb-version }}" -match "^10\.5|^10\.6|^10\.7|^10\.8|^10\.9|^10\.10") {
            ridk exec patch -p1 -i `
              ..\mroonga\packages\source\patches\mariadb-10.5.5-add-a-missing-export-symbol.diff
          }
          Remove-Item storage\mroonga -Recurse -Force
          Copy-Item ..\mroonga storage\mroonga -Recurse
          Copy-Item ..\mroonga\build\msvc_ccache.cmake cmake\build_configurations\
      - name: Prepare Groonga
        run: |
          cd ..\source
          if ("${{ matrix.use-master }}" -eq "yes") {
            git clone --quiet --depth 1 --recursive `
              https://github.com/groonga/groonga.git `
              extra\groonga
            pushd extra\groonga\vendor
            ruby download_lz4.rb
            ruby download_mecab.rb
            ruby download_message_pack.rb
            ruby download_rapidjson.rb
            ruby download_xxhash.rb
            ruby download.rb zstd
            popd
          } else {
            Invoke-WebRequest `
              -Uri "https://packages.groonga.org/source/groonga/groonga-latest.zip" `
              -OutFile groonga-latest.zip
            Expand-Archive groonga-latest.zip .
            Remove-Item groonga-latest.zip
            Move-Item groonga-* extra\groonga
          }
          Remove-Item extra\groonga\test -Recurse -Force
      - name: Prepare groonga-normalizer-mysql
        run: |
          cd ..\source
          if ("${{ matrix.use-master }}" -eq "yes") {
            git clone --quiet --depth 1 --recursive `
              https://github.com/groonga/groonga-normalizer-mysql.git `
              extra\groonga-normalizer-mysql
          } else {
            Invoke-WebRequest `
              -Uri "https://packages.groonga.org/source/groonga-normalizer-mysql/groonga-normalizer-mysql-latest.zip" `
              -OutFile groonga-normalizer-mysql-latest.zip
            Expand-Archive groonga-normalizer-mysql-latest.zip .
            Remove-Item groonga-normalizer-mysql-latest.zip
            Move-Item `
              groonga-normalizer-mysql-* `
              extra\groonga-normalizer-mysql
          }
      - name: Run CMake
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" %VC_ARCHITECTURE% || exit /B
          cmake ^
            -S ..\source ^
            -B ..\build ^
            -G "Ninja" ^
            -DBUILD_CONFIG=msvc_ccache ^
            -DCMAKE_INSTALL_PREFIX=..\install ^
            -DCONNECT_WITH_LIBXML2=OFF ^
            -DMRN_GROONGA_EMBED=${{ matrix.embed || 'OFF' }} ^
            -DMRN_GROONGA_NORMALIZER_MYSQL_EMBED=${{ matrix.embed || 'OFF' }} ^
            -DGRN_WITH_MRUBY=ON ^
            -DGRN_WITH_WINDOWS_BACK_TRACE=OFF || exit /B
      - name: Install
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" %VC_ARCHITECTURE% || exit /B
          set CMAKE_BUILD_PARALLEL_LEVEL=%NUMBER_OF_PROCESSORS%
          cmake ^
            --build ..\build ^
            --config RelWithDebInfo ^
            --target install ^
            --verbose || exit /B
          ccache --show-stats --verbose
      - name: Create package
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" %VC_ARCHITECTURE% || exit /B
          set CMAKE_BUILD_PARALLEL_LEVEL=%NUMBER_OF_PROCESSORS%
          cmake ^
            --build ..\build ^
            --config RelWithDebInfo ^
            --target package ^
            --verbose || exit /B
          ccache --show-stats --verbose
      - name: Enable Mroonga in package
        run: |
          cd ..\build
          Expand-Archive `
            mariadb-${{ matrix.mariadb-version }}-${Env:PACKAGE_PLATFORM}.zip `
            .
          cd mariadb-${{ matrix.mariadb-version }}-${Env:PACKAGE_PLATFORM}
          Remove-Item mysql-test -Recurse -Force
          cd ..
          Move-Item `
            mariadb-${{ matrix.mariadb-version }}-${Env:PACKAGE_PLATFORM} `
            ..\mroonga\

      # Artifact
      - name: Compress the artifact
        run: |
          Compress-Archive `
            -Path mariadb-${{ matrix.mariadb-version }}-${Env:PACKAGE_PLATFORM} `
            -DestinationPath "${{ steps.info.outputs.artifact-name }}.zip"
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.info.outputs.artifact-name }}
          path: ${{ steps.info.outputs.artifact-name }}.zip

      # Release
      - name: Ensure creating release
        if: |
          matrix.use-master != 'yes' && startsWith(github.ref, 'refs/tags/')
        id: create-release
        uses: actions/github-script@0.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const AsyncFunction = Object.getPrototypeOf(async () => {}).constructor
            const fs = require("fs");
            const path = ".github/workflows/ensure-creating-release.js";
            const script = fs.readFileSync(path).toString();
            const func = new AsyncFunction("require", "github", "context", script);
            return await func(require, github, context);
      - name: Upload the artifact to release
        uses: actions/upload-release-asset@v1.0.1
        if: |
          matrix.use-master != 'yes' && startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.result }}
          asset_path: ${{ steps.info.outputs.artifact-name }}.zip
          asset_name: ${{ steps.info.outputs.artifact-name }}.zip
          asset_content_type: application/zip

      - name: Test
        run: |
          cd ..\install\mysql-test
          $suites = `
            Get-ChildItem -Recurse -Directory -Name t plugin\mroonga | `
              Split-Path -Parent | `
              % {$_.replace("\", "/")}
          perl mysql-test-run.pl `
            --force `
            --no-check-testcases `
            --parallel=${Env:NUMBER_OF_PROCESSORS} `
            --retry=3 `
            --suite=$($suites -join ",")

      - name: "Test: reference count"
        run: |
          cd ..\install\mysql-test
          $suites = `
            Get-ChildItem -Recurse -Directory -Name t plugin\mroonga | `
              Split-Path -Parent | `
              % {$_.replace("\", "/")}
          perl mysql-test-run.pl `
            --force `
            --mysqld=--loose-plugin-mroonga-enable-reference-count=ON `
            --no-check-testcases `
            --parallel=${Env:NUMBER_OF_PROCESSORS} `
            --retry=3 `
            --suite=$($suites -join ",")
