name: Windows
on:
  - push
  - pull_request
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  package:
    name: Package
    strategy:
      fail-fast: false
      matrix:
        label:
          - MariaDB 10.3 32bit
          - MariaDB 10.3 64bit
          - MariaDB 10.4 32bit
          - MariaDB 10.4 64bit
          - MariaDB 10.5 32bit
          - MariaDB 10.5 64bit
          - MariaDB 10.6 32bit
          - MariaDB 10.6 64bit
          # - MariaDB 10.7 32bit
          # - MariaDB 10.7 64bit
          - MariaDB 10.7 64bit (master)
          # - MariaDB 10.8 64bit (master/embed)
          # - MariaDB 10.9 64bit (master)
          # - MariaDB 10.9 64bit (master/embed)
        include:
          - label: MariaDB 10.3 32bit
            mariadb-version: "10.3.34"
            package-platform: "win32"
            vc-architecture: "x64_x86"
          - label: MariaDB 10.3 64bit
            mariadb-version: "10.3.34"
            package-platform: "winx64"
            vc-architecture: "x64"
          - label: MariaDB 10.4 32bit
            mariadb-version: "10.4.24"
            package-platform: "win32"
            vc-architecture: "x64_x86"
          - label: MariaDB 10.4 64bit
            mariadb-version: "10.4.24"
            package-platform: "winx64"
            vc-architecture: "x64"
          - label: MariaDB 10.5 32bit
            mariadb-version: "10.5.15"
            package-platform: "win32"
            vc-architecture: "x64_x86"
          - label: MariaDB 10.5 64bit
            mariadb-version: "10.5.15"
            package-platform: "winx64"
            vc-architecture: "x64"
          - label: MariaDB 10.6 32bit
            mariadb-version: "10.6.7"
            package-platform: "win32"
            vc-architecture: "x64_x86"
          - label: MariaDB 10.6 64bit
            mariadb-version: "10.6.7"
            package-platform: "winx64"
            vc-architecture: "x64"
          # - label: MariaDB 10.7 32bit
          #   mariadb-version: "10.7.6"
          #   package-platform: "win32"
          #   vc-architecture: "x64_x86"
          # - label: MariaDB 10.7 64bit
          #   mariadb-version: "10.7.6"
          #   package-platform: "winx64"
          #   vc-architecture: "x64"
          - label: MariaDB 10.7 64bit (master)
            mariadb-version: "10.7.6"
            package-platform: "winx64"
            vc-architecture: "x64"
            use-master: "yes"
          # - label: MariaDB 10.8 64bit (master/embed)
          #   mariadb-version: "10.8.2"
          #   package-platform: "winx64"
          #   vc-architecture: "x64"
          #   use-master: "yes"
          #   embed: "ON"
          # - label: MariaDB 10.9 64bit (master)
          #   mariadb-version: "10.9.3"
          #   package-platform: "winx64"
          #   vc-architecture: "x64"
          #   use-master: "yes"
          # - label: MariaDB 10.9 64bit (master/embed)
          #   mariadb-version: "10.9.3"
          #   package-platform: "winx64"
          #   vc-architecture: "x64"
          #   use-master: "yes"
          #   embed: "ON"
    runs-on: windows-2019
    steps:
      - name: Disable crash dialog
        run: |
          reg add "HKCU\SOFTWARE\Microsoft\Windows\Windows Error Reporting" `
            /v DontShowUI `
            /t REG_DWORD `
            /d 1 `
            /f
      - name: Use JST
        run: |
          Set-TimeZone -Id "Tokyo Standard Time"
      - uses: actions/setup-ruby@v1
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/cache@v3
        with:
          path: |
            ~\AppData\Roaming\ccache
          key: source-${{ matrix.mariadb-version }}-${{ matrix.vc-architecture }}-ccache-${{ hashFiles('*.cpp', '*.hpp', '*.h', 'lib/*.cpp', 'lib/*.hpp') }}
          restore-keys: source-${{ matrix.mariadb-version }}-${{ matrix.vc-architecture }}-ccache-
      - name: Prepare ccache
        run: |
          choco install ccache
          ccache --show-stats --verbose
          Write-Output "CMAKE_C_COMPILER_LAUNCHER=ccache" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "CMAKE_CXX_COMPILER_LAUNCHER=ccache" | `
            Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Set information
        id: info
        run: |
          $MROONGA_VERSION = "$(Get-Content version_full)"
          $ARTIFACT_NAME = "mariadb-${{ matrix.mariadb-version }}-with-mroonga-${MROONGA_VERSION}"
          if ("${{ matrix.use-master }}" -eq "yes") {
            $ARTIFACT_NAME += "-with-groonga-master"
          }
          if ("${{ matrix.embed }}" -eq "ON") {
            $ARTIFACT_NAME += "-embed"
          }
          $ARTIFACT_NAME += "-${{ matrix.package-platform }}"
          Write-Output "mroonga-version=${MROONGA_VERSION}" | `
            Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
          Write-Output "artifact-name=${ARTIFACT_NAME}" | `
            Out-File -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
      - name: Cache MariaDB archive
        uses: actions/cache@v2
        with:
          path: download/
          key: download-mariadb-${{ matrix.mariadb-version }}
      - name: Prepare MariaDB
        run: |
          $MARIADB_TAR_GZ = "download\mariadb-${{ matrix.mariadb-version }}.tar.gz"
          if (-not(Test-Path -Path ${MARIADB_TAR_GZ})) {
            New-Item download -ItemType Directory -Force
            Invoke-WebRequest `
              -Uri "http://downloads.mariadb.org/rest-api/mariadb/${{ matrix.mariadb-version }}/mariadb-${{ matrix.mariadb-version }}.tar.gz" `
              -OutFile ${MARIADB_TAR_GZ} `
              -Verbose
          }
          ridk exec tar xzf "${MARIADB_TAR_GZ}"
          Move-Item mariadb-${{ matrix.mariadb-version }} ..\source
          cd ..\source
          if ("${{ matrix.mariadb-version }}" -match "^10\.5|^10\.6|^10\.7|^10\.8") {
            ridk exec patch -p1 -i `
              ..\mroonga\packages\source\patches\mariadb-10.5.5-add-a-missing-export-symbol.diff
          }
          Remove-Item storage\mroonga -Recurse -Force
          Copy-Item ..\mroonga storage\mroonga -Recurse
          Copy-Item ..\mroonga\build\msvc_ccache.cmake cmake\build_configurations\
      - name: Prepare Groonga
        run: |
          cd ..\source
          if ("${{ matrix.use-master }}" -eq "yes") {
            git clone --quiet --depth 1 --recursive `
              https://github.com/groonga/groonga.git `
              extra\groonga
            pushd extra\groonga\vendor
            ruby download_lz4.rb
            ruby download_mecab.rb
            ruby download_message_pack.rb
            ruby download_rapidjson.rb
            ruby download_xxhash.rb
            ruby download.rb zstd
            popd
          } else {
            Invoke-WebRequest `
              -Uri "https://packages.groonga.org/source/groonga/groonga-latest.zip" `
              -OutFile groonga-latest.zip
            Expand-Archive groonga-latest.zip .
            Remove-Item groonga-latest.zip
            Move-Item groonga-* extra\groonga
          }
          Remove-Item extra\groonga\test -Recurse -Force
      - name: Prepare groonga-normalizer-mysql
        run: |
          cd ..\source
          # TODO: Restore this after groonga-normalizer-mysql 1.2.0 is released.
          # if ("${{ matrix.use-master }}" -eq "yes") {
          if ("yes" -eq "yes") {
            git clone --quiet --depth 1 --recursive `
              https://github.com/groonga/groonga-normalizer-mysql.git `
              extra\groonga-normalizer-mysql
          } else {
            Invoke-WebRequest `
              -Uri "https://packages.groonga.org/source/groonga-normalizer-mysql/groonga-normalizer-mysql-latest.zip" `
              -OutFile groonga-normalizer-mysql-latest.zip
            Expand-Archive groonga-normalizer-mysql-latest.zip .
            Remove-Item groonga-normalizer-mysql-latest.zip
            Move-Item `
              groonga-normalizer-mysql-* `
              extra\groonga-normalizer-mysql
          }
      - name: Create package
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" ${{ matrix.vc-architecture }}
          mkdir ..\build
          cmake ^
            -S ..\source ^
            -B ..\build ^
            -G "Ninja" ^
            -DBUILD_CONFIG=msvc_ccache ^
            -DCMAKE_INSTALL_PREFIX=..\install ^
            -DMRN_GROONGA_EMBED=${{ matrix.embed || 'OFF' }} ^
            -DMRN_GROONGA_NORMALIZER_MYSQL_EMBED=${{ matrix.embed || 'OFF' }} ^
            -DGRN_WITH_MRUBY=ON ^
            -DGRN_WITH_WINDOWS_BACK_TRACE=OFF
          set CMAKE_BUILD_PARALLEL_LEVEL=%NUMBER_OF_PROCESSORS%
          cmake --build ..\build --config RelWithDebInfo --target install --verbose
          cmake --build ..\build --config RelWithDebInfo --target package --verbose
          ccache --show-stats --verbose
      - name: Install
        run: |
          cd ..\build
          Expand-Archive `
            mariadb-${{ matrix.mariadb-version }}-${{ matrix.package-platform}}.zip `
            .
          cd mariadb-${{ matrix.mariadb-version }}-${{ matrix.package-platform}}
          Remove-Item mysql-test -Recurse -Force
          netsh advfirewall firewall add rule `
            name="mariadb" `
            dir=in `
            action=allow `
            protocol=TCP `
            localport=3306 `
            enable=yes `
            profile=any
          ..\..\source\storage\mroonga\packages\windows\install-mroonga.ps1 `
            -mariadbVersion ${{ matrix.mariadb-version }} `
            -platform ${{ matrix.package-platform }}
          cd ..
          Move-Item `
            mariadb-${{ matrix.mariadb-version }}-${{ matrix.package-platform}} `
            ..\mroonga\

      # Artifact
      - name: Compress the artifact
        run: |
          Compress-Archive `
            -Path mariadb-${{ matrix.mariadb-version }}-${{ matrix.package-platform }} `
            -DestinationPath "${{ steps.info.outputs.artifact-name }}.zip"
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.info.outputs.artifact-name }}
          path: ${{ steps.info.outputs.artifact-name }}.zip

      # Release
      - name: Ensure creating release
        if: |
          matrix.use-master != 'yes' && startsWith(github.ref, 'refs/tags/')
        id: create-release
        uses: actions/github-script@0.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const AsyncFunction = Object.getPrototypeOf(async () => {}).constructor
            const fs = require("fs");
            const path = ".github/workflows/ensure-creating-release.js";
            const script = fs.readFileSync(path).toString();
            const func = new AsyncFunction("require", "github", "context", script);
            return await func(require, github, context);
      - name: Upload the artifact to release
        uses: actions/upload-release-asset@v1.0.1
        if: |
          matrix.use-master != 'yes' && startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.result }}
          asset_path: ${{ steps.info.outputs.artifact-name }}.zip
          asset_name: ${{ steps.info.outputs.artifact-name }}.zip
          asset_content_type: application/zip

      - name: Install dependencies for test
        run: |
          choco install -y strawberryperl
      - name: Test
        run: |
          cd ..\install\mysql-test
          perl mysql-test-run.pl `
            --force `
            --no-check-testcases `
            --parallel=${Env:NUMBER_OF_PROCESSORS} `
            --retry=3 `
            --suite=mroonga/storage
